<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="slst.byod.api.attchFileManage.AttchFileManageMapper">
   
   <!-- 보고서 업로드 전 첨부파일 아이디 조회(조사자용) -->
   <select id="selectMaxFileId" resultType="String">
   		SELECT max(file_id) 
   		  FROM bd_attch_file_info
   </select>
   
   <!-- 첨부파일 갯수 조회 -->
   <select id="selectReportAndFileCnt" parameterType="String" resultType="int">
   		SELECT count(*)
   		  FROM bd_attch_file_info
   		  WHERE report_no = #{report_no}
   </select>
   
   <!-- POST /Byod/AdminSrchEqupmntRegist 조사장비 등록(관리자용) -->
   <insert id="insertAttchFile" parameterType="AttchFileManageVO">
    	INSERT INTO bd_attch_file_info(
    				file_id,
					report_no,
					user_id,
					attch_file_kind,
					attch_file_path,
					attch_file_nm,
					ori_file_nm,
					attch_file_extsn,
					cre_dt)
		    VALUES(	#{file_id},
		    		#{report_no},
					#{user_id},
					#{attch_file_kind},
					#{attch_file_path},
					#{attch_file_nm},
					#{ori_file_nm},
					#{attch_file_extsn},
					now())
    </insert>
    
</mapper>