@charset "UTF-8";

/* font */
/* 
@font-face{
	font-family:'Open Sans';font-weight:600;font-style:normal;
	src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-bold-webfont.woff') format('woff');
}
@font-face{
	font-family:'Open Sans';font-weight:500;font-style:normal;
	src: url('../fonts/opensans-semibold-webfont.eot#iefix') format('embedded-opentype'), url('../fonts/opensans-semibold-webfont.woff') format('woff');
}
@font-face{
	font-family:'Open Sans';font-weight:400;font-style:normal;
	src: url('../fonts/opensans-regular-webfont.eot#iefix') format('embedded-opentype'), url('../fonts/opensans-regular-webfont.woff') format('woff');
}
 */

/* reset with normalize */
* {
	padding:0;margin:0;
	font-family:'Open Sans', Nanum Gothic, '나눔고딕', 'PT Serif', sans-serif;font-size:14px;
	word-break:normal;
	box-sizing:border-box;
	-o-box-sizing:border-box;
   -ms-box-sizing:border-box;
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
   -webkit-text-size-adjust:none;
}
body {padding:0;margin:0;}
header, footer, section, article, div, nav, ul, input, figure, span, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend,input, textarea, button, select {
	letter-spacing:-.005em;
	padding:0;margin:0;border:0;
	box-sizing:border-box;
	-o-box-sizing:border-box;
   -ms-box-sizing:border-box;
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
}
ul, ul li, ol, ol li {list-style:none;}
table {width:100%;border-collapse:collapse;border-spacing:0;}
caption {display:none;}
button {cursor:pointer;}
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {-webkit-appearance:none;appearance:none;}
a, button, input, textarea {-webkit-transition:border-color .4s,background .4s,color .4s,opacity .4s;transition:border-color .4s,background .4s,color .4s,opacity .4s}

#layer-popup {position:fixed;z-index:9100;display:none;}
#layer-popup h4 {display:inline-block;font-size:18px;}
#layer-popup p {font:500 12px 'Nanum Gothic',sans-serif;color:#777;}
#layer-popup p.layerExp {display:inline-block;margin-top:5px;}
#layer-popup .buttonDiv {width:100%;text-align:center;margin-top:10px;}
.layer-cover {position:fixed;z-index:9000;display:none;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.6;filter:alpha(opacity:'60');}
.consRcvIn {top:50%;left:50%;width:800px;height:400px;margin-top:-230px;margin-left:-400px;padding:20px;background:#fff;border:1px solid #333;box-sizing:border-box;overflow:hidden;}
.consRcvOut {top:50%;left:50%;width:400px;margin-top:-200px;margin-left:-200px;padding:20px;background:#fff;border:1px solid #333;box-sizing:border-box;overflow:hidden;}
.consRcvOut textarea {width:100%;height:160px;padding:10px;box-sizing:border-box;}
.secVow {top:50%;left:50%;width:800px;height:520px;margin-top:-250px;margin-left:-400px;padding:20px;background:#fff;border:1px solid #333;box-sizing:border-box;overflow:hidden;}
.secVow .vowCont {width:100%;height:350px;overflow-y:auto;margin:20px 0 15px 0;padding:20px;border:1px solid #aaa;box-sizing:border-box;}
.secVow a {font:bold 14px 'Nanum Gothic', sans-serif !important;text-decoration:none !important;line-height:40px !important;}
.periodAdm {top:50%;left:50%;width:580px;margin-top:-130px;margin-left:-290px;padding:20px;background:#fff;border:1px solid #333;box-sizing:border-box;overflow:hidden;}
.periodAdm ul {list-style:none;margin:10px 0 0 10px;}
.periodAdm li {line-height:1.8;padding-left:8px;background:url('../images/content/list-bullet01.png') no-repeat 0 center;}
.periodAdm .emphasis {line-height:18px;margin-top:20px;padding-left:20px;background:url('../images/content/guide-emphasis.png') no-repeat 0 4px;}
.applPriceRevs {top:50%;left:50%;width:440px;height:230px;margin-top:-100px;margin-left:-220px;padding:20px;background:#fff;border:1px solid #333;box-sizing:border-box;overflow:hidden;}
.applPriceRevs .cm-tb-form2 {margin-top:20px;}
.applPriceRevsModi {top:50%;left:50%;width:80%;height:50%;margin-top:-300px;margin-left:-720px;padding:20px;background:#fff;border:1px solid #333;box-sizing:border-box;overflow:scroll;}
.applPriceRevsModi .cm-tb-form2 {margin-top:20px;}
.applCtrt {top:50%;left:50%;width:800px;margin-top:-400px;margin-left:-400px;padding:20px;background:#fff;border:1px solid #333;box-sizing:border-box;overflow:hidden;}
.applCtrt .ctrtCont {width:100%;height:280px;overflow-y:auto;margin:20px 0 15px 0;padding:20px;border:1px solid #aaa;box-sizing:border-box;}
.applCtrtCancel {top:50%;left:50%;width:800px;height:520px;margin-top:-260px;margin-left:-400px;padding:20px;background:#fff;border:1px solid #333;box-sizing:border-box;overflow:hidden;}
.applCtrtCancel .ctrtCont {width:100%;height:350px;overflow-y:auto;margin:20px 0 15px 0;padding:20px;border:1px solid #aaa;box-sizing:border-box;}
.atnyInfoRevs {top:50%;left:50%;width:800px;margin-top:-400px;margin-left:-400px;padding:20px;background:#fff;border:1px solid #333;box-sizing:border-box;overflow:hidden;}
.rgstSample {top:50%;left:50%;width:800px;margin-top:-300px;margin-left:-400px;padding:20px;background:#fff;border:1px solid #333;box-sizing:border-box;overflow:hidden;}
.rgstSample h5 {display:block;font:bold 16px 'Nanum Gothic',sans-serif;color:#333;padding:0;margin-bottom:5px;}
.rgstSample h6 {display:block;font:bold 14px 'Nanum Gothic',sans-serif;color:#444;padding:0;margin-bottom:5px;}
.rgstSample p {font:normal 13px 'Nanum Gothic',sans-serif !important;color:#444;}
.rgstSample ul {list-style:none;}
.rgstSample li {font:normal 14px 'Nanum Gothic',sans-serif !important;color:#444;}
.consRefuse {top:50%;left:50%;width:440px;margin-top:-200px;margin-left:-220px;padding:20px;background:#fff;border:1px solid #333;box-sizing:border-box;overflow:hidden;}
.addExp {margin-top:15px;}
.addExp {list-style:none;margin-left:5px;}
.addExp li {
	width:100% !important;
	font:normal 12px 'Gulim',sans-serif;color:#777;line-height:1.8;
	padding-left:10px;
	background:url('../images/content/list-bullet01.png') no-repeat 0 center;overflow:hidden;
}
/* common table form2 */
.cm-tb-form2 {width:100%;font-size:12px;font-family:'Gulim',sans-serif;border-bottom:1px solid #ddd;}
.cm-tb-form2>tbody>tr>th {color:#444;padding-right:20px;border-bottom:1px solid #ddd;background-color:#f1f1f1;text-align:right;vertical-align:middle;}
.cm-tb-form2>tbody>tr>td {height:28px;color:#333;line-height:18px;vertical-align:middle;padding:10px 20px;border-bottom:1px solid #ddd;}
.cm-tb-form2>tbody>tr>td input[type='text'],
.cm-tb-form2>tbody>tr>td input[type='tel'],
.cm-tb-form2>tbody>tr>td input[type='password']{height:28px;padding-left:5px;border:1px solid #ddd;box-sizing:border-box;vertical-align:middle;} 
.cm-tb-form2>tbody>tr>td select {height:28px;padding-left:3px;border:1px solid #ddd;box-sizing:border-box;vertical-align:middle;}
.cm-tb-form2>tbody>tr>td select option {color:#333;}
.cm-tb-form2>tbody>tr>td textarea {padding:5px;border:1px solid #ddd;box-sizing:border-box;resize:none;}
.cm-tb-form2>tbody>tr>td>ul.array {list-style:none;padding:0;margin:0;overflow:hidden;} 
.cm-tb-form2>tbody>tr>td>ul.array>li {float:left;height:28px;line-height:28px;padding:0 8px;}
.cm-tb-form2>tbody>tr>td>ul.array>li:first-child {padding-left:0;}
.cm-tb-form2>tbody>tr>td.empty {text-align:center;padding:80px 0;}
.filebox input[type="file"] {position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0;} 
.filebox label {display:inline-block;height:28px;padding:0 10px;color:#999;line-height:28px;vertical-align:middle;background-color:#fdfdfd;cursor:pointer;border:1px solid #ebebeb;box-sizing:border-box;}
.filebox .upload-name {display:inline-block;width:auto;height:28px;padding-left:5px;background:#fff;border:1px solid #ebebeb;box-sizing:border-box;}
.cm-tb-form2>tbody>tr>td .upload-file {padding:0;margin:0;}
.cm-tb-form2>tbody>tr>td .upload-file li:first-child {padding-top:0;margin-top:10px;}
.cm-tb-form2>tbody>tr>td .upload-file li:last-child {padding-bottom:0;}
.cm-tb-form2>tbody>tr>td .upload-file li {padding:.3em 0;margin-left:18px;}
.cm-tb-form2>tbody>tr>td .upload-file li input[type="button"] {
	display:inline-block;
	width:8px;height:8px;
	font-size:0;line-height:0;text-indent:-9999px;
	border:none;margin-left:8px;
	background:url('../images/content/tool-delete.png') no-repeat;
	cursor:pointer;overflow:hidden;
}
.fileUpload {color:#666;text-decoration:none;}
.cm-tb-form2>tbody>tr>td .price {width:100px;text-align:right;padding-right:5px;}
.cm-tb-form2>tbody>tr>td .pro-filed {display:inline-block;width:150px;height:21px;font-size:11px;color:#fff;line-height:24px;text-align:center;margin:1px 0;border:none;}
.cm-tb-form2>tbody>tr>td .cate01 {background:#78c5cd;}
.cm-tb-form2>tbody>tr>td .cate02 {background:#79b7ce;}
.cm-tb-form2>tbody>tr>td .cate03 {background:#78a8ce;}
.cm-tb-form2>tbody>tr>td .cate04 {background:#788dce;}
.searchBtn {display:inline-block;font:bold 12px 'Nanum Gothic',sans-serif;text-decoration:none;padding:8px 15px 6px 15px;vertical-align:middle;}
.resetBtn {display:inline-block;font:bold 12px 'Nanum Gothic',sans-serif;text-decoration:none;padding:8px 15px 6px 15px;vertical-align:middle;}
.cm-tb-form2>tbody>tr>td .idCheck {display:inline-block;text-decoration:none;padding:8px 10px 6px 10px;vertical-align:middle;}
.cm-tb-form2>tbody>tr>td .addCheck {display:inline-block;text-decoration:none;padding:6px 10px 5px 10px;vertical-align:middle;cursor:pointer;}
.cm-tb-form2>tbody>tr>td>span {display:inline-bloc;font:400 12px 'Nanum Gothic',sans-serif;color:#d27676;margin-left:15px;vertical-align:middle;}
.cm-tb-form2>tbody>tr>td .guideText {font:400 12px 'Nanum Gothic',sans-serif;color:#999;margin-top:8px;}

/**/
.consAppDetail .funcInfo-wrap {margin-top:30px;}
.consAppDetail .cm-tb-form2 {margin-top:20px;}
.consAppDetail .consAppRdy {width:100%;font:normal 21px 'Nanum Gothic',sans-serif;color:#999;text-align:center;padding:50px 0;border-top:2px solid #666;border-bottom:1px solid #ddd;}
.consAppDetail .consAppRdy span {color:#333;text-decoration:underline;}
.consAppDetail .btnDiv {width:100%;text-align:center;margin:30px 0 50px 0;}

/* button css style */
.dis-button {color:#999 !important;background-color:#fff;border:1px solid #e4e4e4;} /* white */
.wb-button {color:#333;background-color:#fff;border:1px solid #e4e4e4;} /* white */
.wb-button:hover {background-color:#fdfdfd;border:1px solid #31a4a3;}
.wb-button:active {color:#fff;background-color:#333;border:1px solid #333;}
.blb-button {color:#fff !important;background-color:#565455;border:none;} /* black gray */
.blb-button:hover {background-color:#777;}
.blb-button:active {color:#fff;background-color:#333;}
.dgb-button {color:#fff !important;background-color:#848484;border:none;} /* dark gray */
.dgb-button:hover {background-color:#777;}
.dgb-button:active {color:#fff;background-color:#333;}
.lgb-button {color:#fff !important;background-color:#848484;border:none;} /* light gray */
.lgb-button:hover {background-color:#777;}
.lgb-button:active {color:#fff;background-color:#333;}
.bb-button {color:#fff !important;background-color:#628abd;border:none;} /* blue gray */
.bb-button:hover {background-color:#45a0d0;}
.bb-button:active {color:#fff;background-color:#327ea5;}

.orb-button {color:#fff !important;background-color:#866eac;border:none;} /* blue gray */
.orb-button:hover {background-color:#5f4589;}
.orb-button:active {color:#fff;background-color:#ab6d3c;}


.grn-button {color:#fff !important;background-color:#39a898;border:none;} /* blue gray */
.grn-button:hover {background-color:#46b6a6;}
.grn-button:active {color:#fff;background-color:#329788;}
.tool-delete {
	display:inline-block;
	width:8px;height:8px;
	font-size:0;line-height:0;text-indent:-9999px;
	border:none;
	background:url('../images/content/tool-delete.png') no-repeat;
	cursor:pointer;overflow:hidden;
}

.tb-confirmCheck {height:28px;font-weight:bold;font-size:13px;color:#666;text-decoration:none;vertical-align:middle;border:1px solid #ccc;padding:0 15px;}
#tb-member {text-align:center;padding:12px 0;}
#tb-member .tb-member-btn {font-weight:bold;font-size:14px;color:#666;text-decoration:none;padding:3px 8px;border:1px solid #ccc; cursor:pointer;}

/* table border theme */
.tb-bdr-top1 {border-top:1px solid #333;} /* black */

/* button type */
.btnType01 {
	display:inline-block;
	height:40px;
	font:bold 14px 'Nanum Gothic', sans-serif;text-decoration:none;line-height:40px;
	padding:0 30px;overflow:hidden;
	box-sizing:border-box;
	cursor:pointer;
}